* {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  
}

.container>div {
  border: .1px solid gray;
  height: 40px;
  width: 40px;
}